<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }} | Helix</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Helix</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                  {% if current_user.is_admin %}
                  <li><a class="topnav" href="{{ url_for('home.admin_dashboard') }}"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
                  <li><a class="topnav" href="{{ url_for('admin.list_brokers') }}"><i class="fa fa-database"></i> Broker</a></li>
                    <li><a class="topnav" href="{{ url_for('admin.list_agents') }}"><i class="fa fa-user-secret"></i> Agent</a></li>
                    <li><a class="topnav" href="{{ url_for('admin.list_devices') }}"><i class="fa fa-microchip"></i> Devices</a></li>
                    <li><a class="topnav" href="{{ url_for('admin.list_services') }}"><i class="fa fa-sitemap"></i> Services</a></li>
                    <li><a class="topnav" href="{{ url_for('admin.list_attributes') }}"><i class="fa fa-clipboard-list"></i> Attributes</a></li>
                    <li><a class="topnav" href="{{ url_for('admin.list_users') }}"><i class="fa fa-users"></i> Users</a></li>
                  {% else %}
                  <li><a class="topnav" href="{{ url_for('home.dashboard') }}"><i class="fa fa-tachometer-alt"></i> Dashboard</a></li>
                  {% endif %}
                  <li><a class="topnav" href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i> Logout</a></li>
                  <li><a class="topnav">Hi, {{ current_user.username }}!</a></li>
                {% else %}
                  <li><a class="topnav" href="{{ url_for('home.homepage') }}">Home</a></li>
                  <li><a class="topnav" href="{{ url_for('auth.register') }}">Register</a></li>
                  <li><a class="topnav" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if current_user.is_authenticated %} 
                    <ul class="base list-inline">
                      <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                      <li class="footer-menu-divider">⋅</li>
                    </ul>
                    {% else %}
                    <ul class="base list-inline">
                      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                      <li class="footer-menu-divider">⋅</li>
                      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    </ul>
                    {% endif %}
                    <p class="copyright text-muted small">Copyrights © 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
