{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_service %}
        Add Service
    {% else %}
        Edit Service
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_service %}
                <h1>Add Service</h1>
            {% elif assign_service %}
                <h1>Select Device to Assign</h1>
            {% elif unassign_service %}
                <h1>Select Device to Revoke</h1>
            {% else %}
                <h1>Edit Service</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
